{% extends './form_base.html' %}

{% block title %}
Login
{% endblock title %}

{% block head %}
Login
{% endblock head %}

{% block form %}
<form method="POST">
    {% csrf_token %}
    <div class="input-group">
        <label class="label">Email</label>
        <div class="input--style-4">
        {{form.username}}
        </div>
    </div>
    <div class="input-group">
        <label class="label">Password</label>
        <div class="input--style-4">
        {{form.password}}
        </div>
    </div>
    <div class="p-t-15">
        <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
    </div>
    <div class="text-center"><a href='../password_reset/'> Forget password ? </a></div>

</form>
{% endblock form %}