{% extends './form_base.html' %}

{% block title %}
Reset Password
{% endblock title %}

{% block head %}
Reset Password

{% endblock head %}

{% block form %} 
  <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
  <br>

  <form method="POST">
    {% csrf_token %}
    <div class="input-group">
      <label class="label">Email</label>
        <div class="input--style-4">
        {{form.email}}
        </div>
    </div>
    {% comment %} <div class="input-group">
        <label class="label">Password</label>
        <div class="input--style-4">
        {{form.password}}
        </div>
    </div> {% endcomment %}
    <div class="p-t-15">
        <button class="btn btn--radius-2 btn--blue" type="submit">Request</button>
    </div>
</form>

{% endblock form %}

{% block button %} Reset {% endblock button %}

